#characterbackground {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  font-family: 'Indie Flower', cursive;
}
  
.btn-choice, .btn-choice:hover {
  text-decoration: none;
  color: white;
}
  
#game-stage {
  position: relative;
  height: 65vh;
}
  
#bottom-row {
  position: absolute;
  bottom: 5%;
}
  
#characterbackground {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
  
.indie-flower {
  font-family: 'Indie Flower', cursive;
}
  
#characterstats {
  /* background: url("./scrollforstats.png") center; */
  /* background-repeat: no-repeat; */
  height: 100%;
  width: 33%;
}
  
.vh-75 {
  height: 75vh;
  max-height: 500px
}
  
.scroll-container {
  height: 90%;
  position: absolute;
  top: 0%;
  right: 10%;
}
  
.scroll-container img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle
}
  
.model-container {
  height: 80%;
  position: absolute;
  top: 0%;
  left: 10%;
}
  
.enemy-container {
  height: 80%;
  position: absolute;
  top: 0%;
  left: 10%;
}
  
#stats-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 18%;
  text-align: center;
  width: 60%;
}

#hero-name {
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1440 - 813)));
}
.stat {
  font-size: calc(8px + (14 - 8) * ((100vw - 300px) / (1440 - 813)));
}
  
#heromodel {
  margin-top: 10%;
  height: 400px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
}
  
#statsbackground {
  height: 65vh;
  width: 50vh;
}

.mw-50 {
  max-width: 50vw;
}

.page-title {
  font-size: calc(40px + (48 - 40) * ((100vw - 300px) / (1920 - 813)));
}

@media only screen and (max-width: 813px) {
  .vh-75 {
    max-height: 400px;
  }
  .scroll-container {
    right: 33%;
  }
  #heromodel {
    width: auto
  }
  #enemymodel {
    width: auto
  }
  .model-container {
    left: 30%
  }
  .enemy-container {
    left: 20%
  }
}