#stats-row {
  padding: 2rem;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(44, 42, 42, 0.8);
  color: white;
}

#stats-row > div {
  position: relative;
}

#stats-row canvas {
  margin: 0 auto
}

@media only screen and (max-width: 420px) {
  #stats-row {
    margin: 0 auto;
  }
}